<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Custom Toolbar</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="home">
  <div class="toppart">
    <h1 class="title">{{title}}</h1>
  </div>

  <div class="API">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Postcode</mat-label>
        <input matInput [formControl]="postcodeFormControl" placeholder="Ex. SW1A 1AA">
        <mat-error *ngIf="postcodeFormControl.hasError('required')">
          Postcode is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button mat-button color="primary" (click)="submit()">Submit</button>
    </form>
    {{test}}
     <div>

      {{API_Return}}

     </div>
  </div>



</div>
