<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span><h1 class="title">{{title}}</h1>Police Street Crime Fetcher</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="home">
  <div class="API">
    <form class="form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Postcode</mat-label>
        <input matInput [formControl]="postcodeFormControl" placeholder="Ex. SW1A 1AA">
        <mat-error *ngIf="postcodeFormControl.hasError('required')">
          Postcode is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="submit()">Submit</button>
    </form>
     <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Street-level crimes">
        <div class="example-table-container">
            <mat-table [dataSource]="pageSlice" class="mat-elevation-z8">
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <mat-header-cell *matHeaderCellDef> category </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.category}} </mat-cell>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> location </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.location.street.name}} </mat-cell>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="weight">
                <mat-header-cell *matHeaderCellDef> month </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.month}} </mat-cell>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol">
                <mat-header-cell *matHeaderCellDef> outcome_status </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <div>
                    {{row.outcome_status | json }}
                  </div>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>
          <mat-paginator  [length]="PoliceDataPageCount"
                          [pageSize]="10"
                          [pageSizeOptions]="[5,10,20,50,100]"
                          (page)="OnPageChange($event)"
          ></mat-paginator>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="flexcontainer">
    <div>
      <mat-card class="infoCard">The individual street crimes will be marked on the map below </mat-card>
    </div>
  </div>
  <div class="mapbox" >
    <div class="map" #mapElement></div>
  </div>
</div>
